<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <property name="console_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %green(%-5level) %magenta(${PID:- }) --- [%5t] %replace(%caller{1}){'\t|Caller.{1}0|\r\n', ''} : %msg%n" />
    <property name="console_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %green(%-5level) %magenta(${PID:- }) --- [%5t] %cyan(%-40logger{39}) %L : %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${console_pattern}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org" level="WARN"/>
    <logger name="io" level="WARN" />

</configuration>